//
// Features
// --------------------------------------------------


// Core variables
@import 'public/variables';


// Base styles
// -------------------------

.features {
  h1 {
    font-weight: 300;
    margin-bottom: 36px;
    margin-top: 0;

    small {
      font-weight: 100;
    }
  }
}
