$icon-font-path: '../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/';
@import 'public';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

header {
  .build {
    margin: 0;
    margin-top: 2px;
  }

  h2 {
    height: 19px;
    margin-top: 18px !important;
  }
}

[data-hljs].snippet code {
  font-size: 14px !important;
}
