<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Header</title>
  </head>
  <body>
    <div class="container" data-ng-init="selector='header'">
      <div id="logo-container">
        <a id="logo" href="/planimeter/">
          <img alt="Planimeter" src="images/logo_planimeter.svg">
        </a>
      </div>
      <hr>
      <nav>
        <ol class="list-unstyled list-inline">
          <li class="nav-link">
            <a href="/planimeter/"
               title="Team Planimeter">About</a>
          </li>
        </ol>
        <h2 id="nav-title">
        </h2>
      </nav>
    </div>
  </body>
</html>
