<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Header</title>
  </head>
  <body>
    <div class="container" data-ng-init="selector='header'">
      <div id="logo-container">
        <a id="logo" href="/grid/">
          <img alt="Grid" src="images/logo_grid.svg">
        </a>
        <div class="pull-right">
          <h3 class="build">
            <span class="label label-primary">v1.3.1</span>
          </h3>
        </div>
      </div>
      <hr>
      <nav>
        <ol class="list-unstyled list-inline">
          <li class="nav-link">
            <a href="/grid/"
               title="Grid Engine">About</a>
          </li>
          <li class="nav-link">
            <a href="/grid/tutorials/Home"
               href-match="/grid/tutorials/"
               title="Game Development Tutorials">Tutorials</a>
          </li>
          <li class="nav-link">
            <a href="/grid/api/Home"
               href-match="/grid/api/"
               title="API Documentation">API</a>
          </li>
        </ol>
        <h2 id="nav-title">
        </h2>
      </nav>
    </div>
  </body>
</html>
