<section class="fade text-center">
  <h1>
    Built for friends and storytelling.<br>
    <small>
      Initially built for <a href="/vadventure">Vertex Adventure,</a>
      Grid allows for highly scalable multiplayer interactions. Its simple
      network API allows you to focus on your game and less on broadcasting
      bits. Even if you're not ready to go 4-player or 400-player, you can still
      build singleplayer games without changing your game code and opt-in
      later.
    </small>
  </h1>
  <p class="text-center">
    <img class="img-responsive center-block" src="images/architecture.png">
  </p>
</section>
